<div>
    <h2>Money</h2>
    <table class="table">
        <thead>
        <tr>
            <td>Coffee addict Name</td>
            <td>Balance</td>
        </tr>
        </thead>
        <tbody>
            {% for item in totals %}
                <tr>
                    <td>{{ item['name'] }}</td>
                    <td>{{ item['credit']/100  }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>