<div>
    <h2>Totals</h2>
    <table class="table">
        <thead>
        <tr>
            <td>Coffee addict Name</td>
            <td>Total Cost</td>
        </tr>
        </thead>
        <tbody>
            {% for item in totals %}
                <tr>
                    <td>{{ item['name'] }}</td>
                    <td>{{ item['totalCost'] }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td>Total spent:</td>
                <td>{{ totalCost }}</td>
            </tr>
        </tbody>
    </table>
</div>