{% extends 'base.html.twig' %}

{% block title %}Coffee addicts{% endblock %}

{% block body %}
    <div class="container popover-content">
        <div class="row">
            <div class="col-6 col-md-6">
                {% include 'statistic/history.html.twig' %}
            </div>
            <div class="col-6 col-md-6">
                {% include 'statistic/totals.html.twig' %}
            </div>
        </div>
    </div>


{% endblock %}

