{% extends 'base.html.twig' %}

{% block title %}Add Cup{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-4 col-md-4">
                <h2>Add new cup</h2>
                {{ form_start(form, {'attr': {'class': 'add-cup'} }) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
            <div class="col-4 col-md-4"></div>
            <div class="col-4 col-md-4"></div>
        </div>
    </div>
{% endblock %}