{% extends 'base.html.twig' %}

{% block title %}Settings List{% endblock %}

{% block body %}
    <div class="container popover-content">
        <div class="row">
            <div class="col-6 col-md-6">
                <div>
                    <h2>Credit List</h2>
                    <table class="table">
                        <thead>
                        <tr>
                            <td>User</td>
                            <td>Value</td>
                            <td>Action</td>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in results %}
                            <tr class="{% if item['value'] > 0 %} success {% else %} danger {% endif %}">
                                <td>{{ item['name'] }}</td>
                                <td>{{ item['value']/100 }} р.</td>
                                <td><a href="{{ path('add_user_credit') }}">Add</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


{% endblock %}